/* .tools{display:flex; flex-direction:row;} */
.stuff{height: 100;}

.react-transform-component {
    width: 100;
    height: 100
}

.react-transform-element {
    width: 100;
    height: 100
}

.dialog {
    width: 500;
    height: 700;
}

.card-content {
    width: 100% !important;
    height: 100% !important;
}

.zoomGrid {
    visibility: visible;
  }
  
.zoomGrid:hover {
    visibility: visible;
  }